<header>
  <nav class="navbar navbar-default">
    <div class="container fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/partition">Partition</a></li>
            <li><a href="#">GSOC</a></li>         
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav ">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/searchperson">Search Person</a></li>
            <li><a href="#">Add person</a></li>  
            <li><a href="#">Reports</a></li>       
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav ">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Controllers</a></li>
            <li><a href="#">....</a></li>         
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{fullname}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">logout</a></li>
            <li><a href="#">about</a></li>         
          </ul>
        </li>
      </ul>
      </div>
    </div>
  </nav>
</header>
