
<app-nav></app-nav>
<div class="row">
  <div class="col-sm-2" *ngFor="let p of partitions">
    <div class="profile-card">
      <div class="panel panel-primary">
          <div class="panel-heading"> {{p.name}}-{{p.partition}}</div>
          <div class="panel-body">
            <span>Activities:&nbsp;&nbsp;{{p.activities}}</span><br>
            <span>Population:&nbsp;&nbsp;{{p.people}}</span><br><br>
            <button>Launch</button>&nbsp;<button>Activity log</button>
            <hr>
            <span>Controller:&nbsp;&nbsp;{{p.name}}</span><br>
            <span>Location:&nbsp;&nbsp;{{p.location}}</span><br>
            <span>Company:&nbsp;&nbsp;{{p.company}}</span><br>
          </div>
        
</div>
    </div>
  </div>

</div>
