<app-nav></app-nav>
<main>
    <div class="row">   
        <div class="col-xs-2">
            
            <div *ngIf="people">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let p of people" (click)="selectPerson(p)" [class.active]="p===activeperson">
                        <h5>{{p.FirstName}} {{p.LastName}}</h5>

                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-10">
            <div class="jumbotron" *ngIf="activeperson">
                 <form class="form-horizontal" >
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span>First Name:</span>
                                        <input type="text" class="form-control input-md" name="FirstName" [value]="activeperson.FirstName" [(ngModel)]="activeperson.FirstName">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="input-group">
                                        <span >MiddleName:</span>
                                        <input type="text" class="form-control input-md" name="MiddleName" maxlength=2 [value]="activeperson.MiddleName" [(ngModel)]="activeperson.MiddleName">  
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span >Last Name:</span>
                                        <input type="text" class="form-control input-md" name="LastName" [value]= "activeperson.LastName" [(ngModel)]="activeperson.LastName">   
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                    <div class="input-group">
                                        <span>Activation Date:</span>
                                        <input type="datetime" class="form-control input-md" name="p_activationdate" [value]="activeperson.ActivationDate" [(ngModel)]="activeperson.ActivationDate">
                                    </div>
                            </div>
                             <div class="col-md-4">
                                    <div class="input-group">
                                        <span>Expiration Date:</span>
                                        <input type="datetime" class="form-control input-md" name="p_expirationdate" [value]="activeperson.ExpirationDate" [(ngModel)]="activeperson.ExpirationDate">
                                    </div>
                                </div>
                              
                        </div>
                       <div class="row">
                            <div class="col-lg-4">
                                    <div class="input-group">
                                        <span>Notes:</span>
                                        <input type="textarea" class="form-control input-lg" name="Notes" [value]="activeperson.Notes" [(ngModel)]="activeperson.Notes">
                                    </div>
                            </div>
                            <div class="col-lg-8">
                                    <div class="input-group">
                                        <span>ID#:</span>
                                        <input type="text" class="form-control input-lg" name="id" [value]="activeperson.Udf1" [(ngModel)]="activeperson.Udf1">
                                    </div>
                            </div>
                                                          
                       </div><br>
                       <div class="row">
                         <div class="col-md-3">  
                             <span>Access Levels:<b>{{access_levels.length}}</b></span>
                             <!--<div class="panel panel-default">
                              <div class="panel-body">-->
                                <select multiple name="alvl" #alvl_list size=15 (click)="add_als(alvl_list.value,alvl_id.value)">
                                        <option  *ngFor="let al of access_levels" #alvl_id value="al.AccessLevelId" >
                                        {{al.Name}}
                                        </option>
                                </select>
                             <!-- </div>
                              </div>-->
                         </div> 
                         <div class="col-xs-2">
                             <span>&nbsp;</span>
                             <span>&nbsp;</span>
                             <span>&nbsp;</span>
                             <span>&nbsp;</span>
                             <span>&nbsp;</span>
                               <table>
                                   <tr>
                                       <td><button class="glyphicon glyphicon-chevron-left" (click)="remove_al()"></button></td>
                                    </tr>
                                    <tr>   
                                       <td><button class="glyphicon glyphicon-chevron-right" (click)="assign_als()"></button></td>
                                   </tr>
                               </table>
                           </div>
                        <div class="col-lg-7">
                            <span></span>
                                <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Activation Date</th>
                                                <th>Expiration Date</th>
                                                <th>Auto Remove</th>
                                                <th>Expired</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             <tr *ngFor="let al of activeperson.PersonAccessLevels">
                                                 <td>{{al.Name}}</td>
                                                 <td><input type="datetime-local"  name="al_activationdate" [ngModel]="alvl.ActivationDate" [value]="al.ActivationDate"></td>
                                                 <td><input type="datetime-local"  name="al_expirationdate" [ngModel]="alvl.ExpirationDate" [value]="al.ExpirationDate"></td>
                                                 <td><select  name="autoremove" [ngModel]="al.AutoRemove" [class.selected]="al.AutoRemove">
                                                     <option value="true">Yes</option>
                                                     <option value="false">No</option>
                                                     </select>
                                                 </td>
                                                 <td><select  name="expired" [ngModel]="al.Expired" [class.selected]="al.Expired">
                                                     <option value="true">Yes</option>
                                                     <option value="false">No</option>
                                                     </select>
                                                     </td>
                                             </tr>
                                             </tbody>
                                </table> 
                        </div>    
                         
                       </div><hr>
                       <div class="row">
                         <div class="col-lg-8">
                             <span>Credentials</span>
                             <div class="panel panel-default">
                              <div class="panel-body">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Hot Stamp#</th>
                                                <th>Encoded#</th>
                                                <th>Card Format</th>
                                                <th>Status</th>
                                                <th>Expiration</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let ac of activeperson.PersonAccessCards" (click)="selectCard(ac)" [class.active]="ac===activecard">
                                                <td><button type="button" class="btn btn-default btn-xs" (click)="revokeCard(ac.cardid)">
                                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                                </button></td>
                                                <td>{{ac.HotStamp}}</td>
                                                <td>{{ac.EncodedNumber}}</td>
                                                <td>{{ac.CardFormatName}}</td>
                                                <td><select name="status" [ngModel] = "ac.CardStatusId" [class.selected]="ac.CardStatusId">
                                                        <option value="1">Active</option>
                                                        <option value="2">Lost</option>
                                                        <option value="3">Damaged</option>
                                                        <option value="4">Expired</option>
                                                    </select>
                                                </td>
                                                <td><input type="date" value={{ac.ExpirationDate}}></td>
                                            </tr>
                                            <tr name="newrow" *ngIf="show">
                                                <td><button type="button" class="btn btn-default btn-xs" (click)="show=false" >
                                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                                </button></td>
                                                <td><input type="text" name="hotstamp" [ngModel] = "credentials.hotstamp"></td>
                                                <td><input type="text" name="encoded" [ngModel] = "credentials.encoded" ></td>
                                                <td>
                                                    <select name="cf" [ngModel] = "credentials.cardformat">
                                                    <option *ngFor ="let cf of card_format" [value]="cf.Name" >{{cf.Name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="status" [ngModel] = "credentials.status">
                                                        <option value="1">Active</option>
                                                        <option value="2">Lost</option>
                                                        <option value="3">Damaged</option>
                                                        <option value="4">Expired</option>
                                                    </select>
                                                   
                                                </td>
                                                <td><input type="date" name="c_expirationdate" [ngModel] = "credentials.c_expirationdate" ></td>
                                             </tr>   
                                            </tbody>
                                        </table>  
                                 </div>
                                 <div class="panel-footer">
                                     <button type="button" class="btn btn-default btn-md" (click)="show=true">Add New Credential</button>
                                 </div>       
                           </div>  
                      </div>
                     </div>
                      <div class="panel-footer">
                            <button type="button" class="btn btn-default btn-md" (click)="savePerson(activeperson,credentials)">Save</button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</main>