<app-nav></app-nav>
 <div class="col-md-8">
            <div class="jumbotron" *ngIf="activeperson">
                 <form class="form-horizontal" >
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span>First Name:</span>
                                        <input type="text" class="form-control input-md" name="fname">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="input-group">
                                        <span >Last Name</span>
                                        <input type="text" class="form-control input-md" name="lname">  
                                    </div>
                                </div>
                          </div>
                    </form>
            </div>
 </div>      
